.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  @include funkyBackground(#333333);
  // setup media query to set padding
  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  // display: flex;
  display: none;
  padding-right: $large-space;
  width: $page-content-sidebar-width;

  @include desktop {
    display: flex;
  }
}

.page-content__main {
  display: flex;
  width: 100%;

  @include desktop {
    @include funkyBorder() {
      color: green;
    };
    width: $page-content-main-width;
  }
}